<div class="container">
    <ng-template #emptyblog>
        <div class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
    </ng-template>
    <ng-container *ngIf="blogPost && blogPost.length>0; else emptyblog">
        <div fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="left">
            <mat-card class="m-3" fxFlex="30%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let post of blogPost | paginate: { itemsPerPage: 3, currentPage: p }">
                <mat-card-header>
                <mat-card-title>{{post.title}}</mat-card-title>
                </mat-card-header>
                <img [src]="post.imageUrl" class="img-fluid">
                <mat-card-content>
                <div [innerHTML]="post.content | excerpt" class="mt-3"></div>
                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions align="end">
                    <ng-container *ngIf="appUser && show!= 'all' && appUser.email == post.email">
                        <button mat-raised-button color="accent" [routerLink]="['/editpost',post.postId]">Edit</button>
                        <button mat-raised-button color="warn" (click)="delete(post.postId)">Delete</button>
                    </ng-container>
                    <span class="spacer"></span>
                    <button mat-raised-button color="primary" id="read-more" [routerLink]="['/blog/', post.postId, post.title | slug]">Read More</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <mat-divider></mat-divider>
        <div class="d-flex justify-content-center bg-dark p-0 mt-3 rounded">
            <pagination-controls (pageChange)="p = $event" class="align-center" class="pt-2"></pagination-controls>
        </div>
    </ng-container>
</div>
